# Postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/watchshop?schema=public"

# App
APP_URL="http://localhost:3000"
CURRENCY_DEFAULT="RUB"

BOT_TOKEN=8303788010:AAHAbH5BIFU6gZkUCXPrhH9ii3Fw8GhC9LQ
PUBLIC_APP_URL=""