# Postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/watchshop?schema=public"

# App
APP_URL="http://localhost:3000"
CURRENCY_DEFAULT="RUB"

BOT_TOKEN=8303788010:AAHAbH5BIFU6gZkUCXPrhH9ii3Fw8GhC9LQ
PUBLIC_APP_URL=""

ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="changeme123"

RESEND_API_KEY=re_YgkPZmu2_Q1PQB9rLH1ZfgE6xhZ6Q5YgJ
HR_EMAIL=velvetachannel@gmail.com